*{
    color: black;
}

.Dig_Alarm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Digital{
    font-family: url("Technology-BoldItalic.ttf");
    font-size: 50px;
    font-family: 'Orbitron',
   
}